name: Release

on:
  push:
    branches:
      - main

permissions:
  contents: read

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  npm:
    name: NPM
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Setup toolchains
        uses: jdx/mise-action@c53b9236f0b3370f31520f8b142f141256d839c6 # v3.6.0
      - name: Setup Socket Firewall
        uses: SocketDev/action@4337a545deecc20f19a909e52db7a2f6ba292f42 # v1.2.0
        with:
          mode: firewall
      - name: Install Dependencies
        run: sfw bun ci
      - name: Update npm
        run: sfw npm install -g npm@latest
      - name: Create Release Pull Request or Publish to npm
        uses: changesets/action@e0145edc7d9d8679003495b11f87bd8ef63c0cba # v1.5.3
        id: changesets
        with:
          publish: bun release
          commitMode: 'github-api'
          title: 'Release new version'
          commit: 'chore(release): bump version package'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Publish to JSR
        run: |
          bun tools/jsr.ts
          bunx jsr publish --allow-dirty
        if: steps.changesets.outputs.published == 'true'
